h1
{
  border-bottom:ridge;
  margin:50px 50px 50px 50px;
  padding: 0px 0px 20px 0px;
}


fieldset
{
  display: flex;
  flex-direction : column;
  justify-content:space-between;
  border: solid 1px;
  border-radius : 27px;
  padding:0.9%;
  margin-right: 40%;
  margin-left:40%;
}


legend, label, input, select
{
  display:flex;
  margin:0.9%;
}

input[type="submit"]
{
  display:flex;
  justify-content:center;
  margin:auto;
}

p
{
  text-align:center;
  margin:auto;
}